.chatContainer{
    background-color: rgb(61, 107, 106);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin phone{
    @media screen and (max-width:480px){
        @content
    }
}
.charWrapper{
    border: 2px solid red;
    border-radius: 10px;
    width: 70%;
    overflow: hidden;
    height: 80%;
    @include phone{
        height: 80%;
        width: 95%;
    }
    display: flex;
    .sidebar{
        flex: 1;
       
        background-color: rgb(91, 181, 213);
        position: relative;
        .navbar{
            user-select: none;
            cursor: pointer;
            height: 6%;
            display: flex;
            padding:10px;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(20, 119, 133);
            @include phone{
                justify-content: center;
            }
            .logo{
                font-weight: bold;
                @include phone{
                    display: none;
                }
            }
            .user{
                display: flex;
                align-items: center;
                gap: 5px;
                img{
                    background-color: #ddddf7;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span:nth-child(2){
                    width: 60px;
                    overflow: hidden;
                }
                span:nth-child(3){
                    color: rgb(122, 31, 31);
                    font-weight: bold;
                    @include phone{
                        position: absolute;
                        bottom: 5px;
                    }
                }
            }
            
        }
        .searchbar{
            background-color: #ddddf7;
            height: 30px;
            input{
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }
        .userlist{
            // border: 2px solid black;
            overflow-y: scroll;
            background-color: rgb(91, 181, 213);
            height:calc(100% - calc(6% + 40px));
            @include phone{

                height:calc(100% - calc(6% + 86.5px));
            }
            display: flex;
            flex-direction: column;
            
            .user{
                
            //    border: 2px solid black;
                padding: 5px;
                user-select: none;
                &:hover{
                    background-color: rgb(72, 114, 152);
                }
                display: flex;
                
                gap: 10px;
                .userinfo{
                    // border: 2px solid black;
                    color: black;
                    font-size: small;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                    }
                }
                .usermessage{
                    // border: 2px solid black;
                    color: rgb(0, 0, 0);
                    overflow: hidden;
                    width: 100px;
                    @include phone{
                        width: 60px;
                        overflow: hidden;
                    }
                    span{
                        font-weight: bold;
                       
                    }
                    p{
                        opacity: 0.5;
                        margin: auto 0;
                        margin: 0;
                    }
                }
            }
            .userselect{
                background-color: rgb(72, 114, 152);
            }
        }
    }
    .chats{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(129, 186, 189);
        .chatInfo{
            user-select: none;
            border-left: 1px solid black;
            cursor: pointer;
            height: 6%;
            padding: 10px;
            background-color: rgb(20, 119, 133);
            display: flex;
            align-items: centre;
            justify-content: space-between;
            .chatInfoCall{
                display: flex;
                gap: 10px;
            }
        }
        .chatarea{
         background-color: rgb(89, 193, 167);
         height: calc(100% - calc(12% + 34px));
         display: flex;
         //  gap: 10px;
         overflow-y: scroll;
         
         flex-direction: column;
         .Texts{
            box-sizing: border-box;
            // border: 2px solid black;
            display: flex;
            gap: 10px;
            padding: 10px;
            align-items: flex-start;
            .textinfo{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                    
                }
                span{
                    @include phone{
                        display: none;
                    }
                   }
            }
            .textcontent{
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                // border:2px solid  #1b1bcf;
                p{
                    // border:2px solid  #ff0808;
                    background-color: #9090d3;
                    padding:  6px 10px;
                    color: white;
                    border-radius: 0 10px 10px 10px;
                    margin: 0;
                    max-width: max-content;
                    // padding: 0;
                }
                img{
                    
                   width: 50%;
                }
            
            }
           
         }
         .Textsowner{
            box-sizing: border-box;
            // border: 2px solid black;
            display: flex;
            gap: 10px;
            flex-direction: row-reverse;
            padding: 10px;
            align-items: flex-start;
            
            .textinfo{
               
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span{
                    @include phone{
                        display: none;
                    }
                }
            }
            .textcontent{
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-end;
                // border:2px solid  #1b1bcf;
                p{
                    // border:2px solid  #ff0808;
                    background-color: #9595a3;
                    padding:  6px 10px;
                    color: white;
                    border-radius:  10px 10px 0 10px;
                    margin: 0;
                    overflow: hidden;
                    max-width: max-content;
                    
                    // padding: 0;
                }
                img{
                   
                   width: 50%;
                }
            
            }
         }
        }
        .chatinput{
            height: 6%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px;
            background-color: rgb(96, 171, 175);
            .chatinputtext{
              
                flex: 2;
                input{
                    background-color:transparent;
                    width: 100%;
                    outline: none;
                    border:none;
                }
            }
            .chatinputicon{
               user-select: none;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
                input{
                    display: none;
                }
            }
        }
    }
}